.character-form {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
  margin-bottom: 150px; /* Ajustado para melhor responsividade */
}

h1, h3 {
  text-align: left;
  color: #ececec;
}

.step h3 {
  color: #ffffff;
  background-color: #67110e;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
}

.step {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 10px;
}

label {
  font-size: 16px;
  color: #ffffff;
  
}

input, select {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ddd;
  background-color: #333;
  color: #fff;
  margin: 5px;
}

/* Foco nos campos de entrada */
input:focus, select:focus {
  border-color: #252d44;
  outline: none;
  box-shadow: 0 0 5px #67110e;
}

/* Estilo dos botões */
button {
  background-color: #67110e;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.1s ease;
}

button[type="button"] {
  background-color: #03002b;
  color: #e9e9e9;
}

button:hover {
  background-color: #252d44;
}

button[type="button"]:hover {
  background-color: #252d44;
}

/* Botão de envio com cor diferenciada */
button[type="submit"] {
  background-color: #252d44;
}

button[type="submit"]:hover {
  background-color: #252d44;
}

/* Animação ao clicar */
button:active {
  transform: scale(0.98);
}

/* Responsividade para dispositivos móveis */
@media (max-width: 600px) {
  .character-form {
    padding: 10px;
  }
  button {
    width: 100%;
    margin-top: 10px;
  }
}

.step {
  margin-bottom: 20px;
}

.step h3 {
  margin-top: 20px;
}

.step p {
  margin-top: 10px;
}

.step .MuiTextField-root {
  margin-bottom: 20px;
}