.characterList {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.characterCards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.characterCard {
  width: 300px;
  margin: 20px;
  background-color: #000000; /* Fundo preto */
  color: #ffffff; /* Texto branco */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s, box-shadow 0.3s;
}

.characterCard:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.cardContent {
  background-color: #000000; /* Fundo preto */
  color: #ffffff; /* Texto branco */
}

.characterName {
  text-align: center; 
  font-size: 1.2rem; 
  margin-bottom: 8px;
}

.cardActions {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.deleteButton {
  min-width: 0;
  padding: 5px; 
}

@media (max-width: 768px) {
  .cardActions {
    flex-direction: row; 
    justify-content: space-between;
  }

  .deleteButton {
    width: auto;
    margin-top: 0;
  }
}

.createCharacter {
  margin-top: 20px;
}

.noCharactersText {
  color: white;
  text-align: center;
  margin-bottom: 20px;
}

.noCharacters {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0 auto; 
  text-align: center;
}

.createCharacterButton {
  margin-top: 10px;
}

.errorMessage {
  color: red;
  margin: 20px;
}

.loadingIndicator {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Estilos para o container do botão Ko-fi */
.kofiButtonContainer {
  position: fixed; /* Posicionamento fixo na tela */
  bottom: 20px; /* Distância da parte inferior da tela */
  right: 20px; /* Distância da parte direita da tela */
  z-index: 1000; /* Garante que ele fique sobre outros elementos */
}