body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.Register-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.Register-container {
  background-color: rgba(88, 87, 87, 0.658);
  padding: 30px 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(83, 10, 0, 0.445);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.Register-title {
  font-size: 2rem;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 1.5rem;
}

.Register-form {
  display: flexbox;
  flex-direction: column;
  gap: 1rem;
  padding: 5px;
  margin: 0px;
  color: white;
}

/* Responsividade */
@media (max-width: 600px) {
  .Register-container {
    padding: 20px;
    max-width: 90%;
  }

  .Register-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .Register-form label {
    font-size: 0.9rem;
  }

  .Register-form input {
    padding: 10px;
    font-size: 0.9rem;
  }

  .Register-button {
    padding: 10px;
    font-size: 1rem;
  }

  .Register-footer {
    font-size: 0.8rem;
  }
}
