body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  animation: changeBackground 60s infinite; /* Duração aumentada para diminuir a rapidez da troca */
}

/* Animação para alternar as imagens de fundo */
@keyframes changeBackground {
  0% {
    background-image: url('Backgroundd.png');
  }
  25% {
    background-image: url('O_caramelo.png');
  }
  50% {
    background-image: url('01_Cidades_inabitadas.jpg');
  }
  75% {
    background-image: url('05_A_igreja.jpg');
  }
  100% {
    background-image: url('Backgroundd.png'); /* Retorna à imagem inicial para o loop */
  }
}

/* Suavizando a transição de fundo usando opacidade */
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('Backgroundd.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  animation: fadeBackground 60s infinite; /* A mesma duração para alinhar com a troca de fundo */
  z-index: -1; /* Coloca o pseudo-elemento atrás do conteúdo */
  opacity: 0;
}

@keyframes fadeBackground {
  0% {
    opacity: 1;
    background-image: url('Backgroundd.png');
  }
  25% {
    opacity: 1;
    background-image: url('O_caramelo.png');
  }
  50% {
    opacity: 1;
    background-image: url('01_Cidades_inabitadas.jpg');
  }
  75% {
    opacity: 1;
    background-image: url('05_A_igreja.jpg');
  }
  100% {
    opacity: 1;
    background-image: url('Backgroundd.png');
  }
}

.video-container {
  position: relative;
  width: 100%;
  height: 100vh; /* Garantir que o vídeo ocupa toda a altura da viewport */
  overflow: hidden;
}

video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Faz o vídeo preencher toda a área */
  transform: translate(-50%, -50%); /* Centraliza o vídeo */
  z-index: -1; /* Coloca o vídeo atrás do conteúdo */
}

.video-content {
  position: relative;
  z-index: 1; /* Coloca o conteúdo na frente do vídeo */
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Garantir que o conteúdo também ocupa toda a altura da viewport */
}

.homepage-container {
  position: relative;
  min-height: 100vh;
  padding-bottom: 100px; /* Adiciona um espaço para garantir que o footer não sobreponha o conteúdo */
}
